<%- include('header') -%>

<form action="/addrecords" method="post">
	<input type="text" placeholder="">
	<input type="text" placeholder="">
	<button type="submit">Submit</button>
</form>

<%- include('footer') -%>